{% extends "base.html" %}
{% block content %}
<h2>{{ customer.name }} Detayları</h2>
<h3>Satışlar</h3>
<table class="table">
    <thead>
        <tr>
            <th>Paket</th>
            <th>Satış Tarihi</th>
            <th>Tutar</th>
            <th>Ödeme Türü</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.package.name }}</td>
            <td>{{ sale.sale_date }}</td>
            <td>{{ sale.amount }}</td>
            <td>{{ sale.payment_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} 